<div class="noquestions">
    <img src="/images/Ilustração.svg" alt="Sem Perguntas">
    <p>Nenhuma pergunta por aqui...</p>
    <p>Faça sua primeira pergunta e envie o <br> codigo dessa sala para outras pessoas!</p>
</div>